* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.topic {
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    border: solid black;
}

li {
    box-sizing: border-box;
    width: 150px;
    text-align: center;
    margin: 10px auto;
    background-color: rgb(189, 255, 233);
}